.card_cvv_container {
  margin-top: 25px;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.card_cvv_text h2 {
  font-size: 1.2em;
}
.card_cvv_text p {
  color: gray;
}

.card_cvv_input {
  width: 100%;
  font-size: 1.2em;
  padding: 15px;
  border: 3px solid lightgrey;
  padding-left: 15px;
  border-radius: 10px;
}
.card_cvv_input::placeholder {
  font-size: 16px;
}
.card_cvv_input:focus {
  outline: none;
}
.card_cvv_input_logo_wrong {
  color: lightgray;
  font-size: 2em;
  position: absolute;
  bottom: 23%;
  right: 2%;
}
.card_cvv_input_logo_right {
  color: green;
  font-size: 2em;
  position: absolute;
  bottom: 23%;
  right: 2%;
}
